.Portfolio {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 40px;
  flex-direction: row;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  /* Tablet */
  .Portfolio {
    padding: 20px 30px;
  }
}

@media (max-width: 768px) {
  /* Mobile */
  .Portfolio {
    flex-direction: column;
    padding: 15px 20px;
    min-height: auto;
  }
}